body {
  background-color: #f4f4f4;
  font-family: cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.login-container {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  width: 360px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  width: 150px;
  margin-bottom: 1px;
}
h1{
  color: rgb(160, 15, 15);
}
h2 {
  margin-bottom: 30px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  margin-bottom: 6px;
  font-size: 14px;
  color: #444;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

button {
  background-color: #0077c2;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #005f9e;
}

.error-msg {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
